{% extends 'base.html.twig' %}

{% block title %}Equipe{% endblock %}

{% block body %}
    <div class="container">
    <h1>{{ equipe.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ equipe.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('equipe_index') }}">accueil</a>


{#         <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td>{{ personne.nom }}</td>
                <td>{{ personne.prenom }}</td>
                <td>
                    <form method="post" action="{{ path('personne_delete', {'id': personne.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personne.id) }}">
                        <button class="btn btn-primary">
                        <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    </div>
{% endblock %}
